.header {
  background-color: #222; // Color de fondo del header
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Logo redondo y pequeño a la izquierda */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; /* Tamaño del logo */
  height: 50px;
  border-radius: 50%; /* Hace el logo redondo */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
  margin-right: 20px; /* Espacio entre logo y menú */
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-register a,
.cart a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.active-link {
  color: yellow !important; 
  font-weight: bold;
}

