<header class="header">
  <div class="header-container">
    <div class="logo">
      <img src="images/logoPaginaWeb.webp" alt="Logo de la página">
    </div>
    <nav class="navbar">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active-link">Inicio</a></li>
        <li><a routerLink="/productos" routerLinkActive="active-link">Productos</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link">Acerca de</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">Contacta</a></li>
      </ul>
    </nav>
    <div class="actions">
      <div class="login-register">
        <a routerLink="/login" routerLinkActive="active-link">Login</a> || <a routerLink="/register" routerLinkActive="active-link">Register</a>
      </div>
      <div class="cart">
        <a routerLink="/cart" routerLinkActive="active-link">
          <span>🛒</span>
          <span>Carrito</span>
        </a>
      </div>
    </div>
  </div>
  </header>
  