<section class="hero">
    <div class="hero-content">
      <p>Encuentra las zapatillas más exclusivas y a la mejor calidad.</p>
    </div>
  </section>

  <div class="home-container">
    <div class="image-section">
      <img src="images/zapatillasJordan.avif" alt="Imagen Calidad">
      <img src="images/cajaNike.jpg" alt="Imagen Envíos">
      <img src="images/atencionCliente.jpg" alt="Imagen Antención al Cliente">

    </div>
  
  <section class="features">
    <div class="feature">
      <h2>Calidad Garantizada</h2>
      <p>Todos nuestros productos son 100% originales y certificados.</p>
    </div>
    <div class="feature">
      <h2>Envíos Rápidos</h2>
      <p>Recibe tus zapatillas en tiempo récord en la puerta de tu casa.</p>
    </div>
    <div class="feature">
      <h2>Atención al Cliente</h2>
      <p>Soporte 24/7 para ayudarte con cualquier duda.</p>
    </div>
  </section>
  