/* 游 Secci칩n Hero (Encabezado Principal) */
.hero {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 0px 20px; /* 游댷 Reducido de 80px a 50px para acercar el contenido hacia arriba */
}

/* 游늷 Contenido dentro del Hero */
.hero-content {
  max-width: 600px;
  margin: auto;
  margin-bottom: 5px; /* 游댷 Reducido de 20px a 10px */
  font-size: 1.5rem;
}

/* 游꿛 Secci칩n de Im치genes */
.image-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px; /* 游댷 Reducido de 70px a 50px para acercar las im치genes */
  margin-bottom: 30px; /* 游댷 Reducido de 50px a 30px */

  img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

/* 游닇 Secci칩n de Texto */
.text-section {
  max-width: 800px;
  margin-top: 5px; /* 游댷 Reducido de 30px a 10px */
  margin-bottom: 20px; /* 游댷 Reducido de 50px a 30px */
  line-height: 1.8;
  font-size: 1.3rem;
  padding: 0 20px;
}
